* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px auto;
}

h1 {
  color: white;
  font-family: 'Oleo Script Swash Caps', cursive;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  color: black;
}

h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
}

li {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

#navegar #menu li a:hover {
  color: red;
}

.nave {
  box-shadow: 1px 2px #54542c;
  text-align: center;
}

.nav-menu>li {
  padding: 0 0 0 30px;
}

/*-------divisao da navegacao da imagem do topo-------*/
#topo {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/biblioteca.jpg);
  background-attachment: fixed;
  background-position: center;
  height: 670px;
  /* opacity: 0.4; */
}

#topo h1 {
  text-align: center;
  padding-top: 307.5px;
  font-size: 60px;
}

#corpo {
  height: 600px;
}

#corpo fieldset {
  /* border: 1px solid red; */
  max-width: 806px;
  margin: 40px auto;
  padding: 30px
}

#corpo fieldset form #send,
#corpo fieldset form p {
  margin-top: 20px;
}

input:focus {
  outline: 0;
}

#corpo fieldset form #titulo:active {
  border-Bottom: 1px solid red;
}

#corpo fieldset form input {
  padding-top: 0px;
  width: 500px;
}

#corpo fieldset form .borda {
  border-bottom: 1px solid #212529;
  border: none;
}

/*adicionando media queries*/


@media (max-width: 320px) {
  #corpo fieldset form #arquivo {
    max-width: 270px;
  }

  #corpo fieldset form input {
    padding-top: 0px;
    width: 250px;
  }
}

@media (min-width:321px) and (max-width: 375px) {
  #corpo fieldset form #arquivo {
    max-width: 370px;
  }

  #corpo fieldset form input {
    padding-top: 0px;
    width: 250px;
  }
}

@media (min-width:376px) and (max-width: 1023px) {}