* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px auto;
}

.sub {
  text-decoration: none;
}

h1 {
  color: white;
  font-family: 'Oleo Script Swash Caps', cursive;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  color: black;
}

h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
}

li {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.nave {
  box-shadow: 1px 2px #54542c;
  text-align: center;
}

.nav-menu>li {
  padding: 0 0 0 30px;
}

/*-------divisao da navegacao da imagem do topo-------*/
#topo {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/biblioteca.jpg);
  background-attachment: fixed;
  background-position: center;
  height: 670px;
}

#topo h1 {
  text-align: center;
  padding-top: 307.5px;
  font-size: 60px;
}

#corpo {
  height: 600px;
}

#corpo fieldset {
  max-width: 806px;
  margin: 40px auto;
  padding: 30px
}

input:focus {
  outline: 0;
}

hr {
  width: 300px;
}

#corpo fieldset {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#corpo fieldset form input {
  padding-top: 0px;
  width: 350px;
}

/*adicionando media queries*/


@media (max-width: 320px) {
  #corpo fieldset form {
    max-width: 270px;
  }

  #corpo fieldset form input {
    padding-top: 0px;
    width: 250px;
  }
}

@media (min-width:321px) and (max-width: 375px) {
  #corpo fieldset form {
    max-width: 370px;
  }

  #corpo fieldset form input {
    padding-top: 0px;
    width: 320px;
  }
}

@media (min-width:376px) and (max-width: 1023px) {}